<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <title>FENTY</title>
</head>
<body>
  <div class="container">
    <h1>FENTY BLUE</h1>
    <p>The core colour palette of blue and double cream was inspired by the pursuit to find a colour that would stand out, be gender neutral, and have a meaningful connection to Rihanna – the blue of Barbados. Double Cream offers a calmer, more classical colour to sit against garments on labelling and tags.</p>
    <script src="/main.js"></script>
  </div>
</body>
</html>